execute pathogen#infect()
syntax on
filetype plugin indent on


set background=dark
colorscheme solarized


set tabstop=2
set shiftwidth=2
set expandtab

if has('gui_running')
  set guifont=Lucida_Console:h11
endif


set encoding=utf-8  " The encoding displayed.
set fileencoding=utf-8  " The encoding written to file.
